# Python
venv/
__pycache__/
*.pyc
.env

# React
node_modules/
dist/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build
build/

# OS
.DS_Store
Thumbs.db

# Auth
auth.json

# Excel (optional)
# *.xlsx